<div class="footer menu">
    <div class="social-media">
        <div class="client-service">
            <label class="bold">SERVICIO AL CLIENTE</label>
            <ul>
                <li><a>Contáctanos</a></li>
                <li><a>Métodos de Pago</a></li>
                <li><a>Cambios y Devoluciones</a></li>
                <li><a>Guia de Tallas</a></li>
                <li><a>Alianza Hoteles</a></li>
                <li><a>Encuesta</a></li>
                <li><a>SIC</a></li>
                <li><a>ADDI</a></li>
                <li><a>Recoge en Tienda</a></li>
            </ul>
        </div>
        <div class="our-company">
            <label class="bold">NUESTRA EMPRESA</label>
            <ul>
                <li><a>Quiénes somos</a></li>
                <li><a>Localizador de Tiendas</a></li>
                <li><a>Prensa</a></li>
                <li><a>Malva Edition</a></li>
                <li><a>Malva Exclusive</a></li>
            </ul>
        </div>
        <div class="follow-us">
            <label class="bold">SÍGUENOS</label>
            <div class="social-icons">
                <a class="fa fa-facebook social-icon"></a>
                <a class="fa fa-pinterest social-icon"></a>
                <a class="fa fa-instagram social-icon"></a>
                <a class="fa fa-twitter social-icon"></a>
            </div>
        </div>
    </div>    
</div>